{% assign article = include.article %}
{% assign cover_image = article.cover_image | default: "/assets/img/articles/default-thumbnail.png" %}

<div class="article-card">
    <div class="article-card__cover" style="background-image: url('{{ cover_image }}');"></div>
    <div class="article-card__content">
        <h1 class="article-card__title">
            {{ article.short_title | default: article.title }}
        </h1>
        <p class="article-card__intro">
            {{ article.description | default: article.content | strip_html | truncate: 100 }}
        </p>
        <div class="article-card__footer">
            <a href="{{ article.url }}" class="btn btn-primary">
                Read full article
            </a>
        </div>
    </div>
</div>