<footer class="footer">
    <div class="footer__column">
        <p class="footer__header">
            Digi-Battle.com
        </p>
        <nav class="footer__links">
            <ul class="footer__links-list">
                <li>
                    <a href="/" class="footer-link">Home</a>
                </li>
                <li>
                    <a href="/about" class="footer-link">About</a>
                </li>
                <li>
                    <a href="/devlog" class="footer-link">DevLog</a>
                </li>
                <li>
                    <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="footer__column">
        <p class="footer__header">
            Cards
        </p>
        <nav class="footer__links">
            <ul class="footer__links-list">
                <li>
                    <a href="/upper-deck/cards/" class="footer-link">Card List</a>
                </li>
                <li>
                    <a href="/upper-deck/sets/" class="footer-link">Sets</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="footer__column">
        <p class="footer__header">
            Game
        </p>
        <nav class="footer__links">
            <ul class="footer__links-list">
                <li>
                    <a href="/articles/how-to-play" class="footer-link">How to Play</a>
                </li>
                <li>
                    <a href="/upper-deck/battle-decks/" class="footer-link">Battle Decks</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="footer__column">
        <p class="footer__header">
            Articles
        </p>
        <nav class="footer__links">
            <ul class="footer__links-list">
                <li>
                    <a href="/articles/dw01" class="footer-link">MetalGreymon DW-01</a>
                </li>
                <li>
                    <a href="/articles/card-oddities" class="footer-link">Card Oddities</a>
                </li>
                <li>
                    <a href="/articles/un01" class="footer-link">Goldramon UN-01</a>
                </li>
                <li>
                    <a href="/articles" class="footer-link">All Articles</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="footer__column">
        <p class="footer__header">
            DW-01 Archive
        </p>
        <nav class="footer__links">
            <ul class="footer__links-list">
                <li>
                    <a href="/dw01" class="footer-link">Archive Home</a>
                </li>
                <li>
                    <a href="/dw01/list" class="footer-link">DW-01 Card List</a>
                </li>
                <li>
                    <a href="/dw01/psa" class="footer-link">PSA Graded</a>
                </li>
                <li>
                    <a href="/dw01/missing" class="footer-link">Missing Numbers</a>
                </li>
                <li>
                    <a href="{{ site.data.external_links.gh_dw01_submit }}" target="_blank" class="footer-link">Submit Your Card</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="footer__column">
        <p class="footer__header">
            Contribute
        </p>
        <nav class="footer__links">
            <ul class="footer__links-list">
                <li>
                    <a href="{{ site.data.external_links.gh_home }}" target="_blank" class="footer-link">GitHub</a>
                </li>
                <li>
                    <a href="{{ site.data.external_links.gh_contribution_guide }}" target="_blank" class="footer-link">Contribution Guide</a>
                </li>
                <li>
                    <a href="{{ site.data.external_links.gh_documentation }}" target="_blank" class="footer-link">Documentation</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>