{% unless page.seo_title %}
  {% if page.serial_code %}
      {% assign seo_title = page.name
        | append: " ("
        | append: page.serial_code
        | append: ")"
      %}
  {% elsif page.title %}
    {% assign seo_title = page.title %}
  {% endif %}
{% else %}
  {% assign seo_title = page.seo_title %}
{% endunless %}

{% unless page.seo_description %}
  {% if page.serial_code %}
      {% assign seo_description = page.name
        | append: " ("
        | append: page.serial_code
        | append: ") from set "
        | append: page.set
        | append: " - Digimon card information, details, scans, images and more."
      %}
  {% else %}
    {% assign seo_description = page.content | strip_html | strip_newlines | truncate: 150 %}
  {% endif %}
{% else %}
  {% assign seo_description = page.seo_description %}
{% endunless %}

{% unless page.seo_image %}
  {% if page.serial_code %}
      {% assign seo_image = "/assets/img/upper-deck-cards/"
        | append: page.card_id
        | append: "-350.webp"
      %}
  {% endif %}
{% else %}
  {% assign seo_image = page.seo_image %}
{% endunless %}

{% assign seo_title = seo_title | append: " | " | append: site.title %}

<title>{{ seo_title | escape }}</title>

<meta name="description" content="{{ seo_description | escape }}">

<link rel="canonical" href="{{ page.url | absolute_url }}">

<meta property="og:title" content="{{ seo_title | escape }}">
<meta property="og:description" content="{{ seo_description | escape }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:type" content="article">

{% if seo_image %}
<meta property="og:image" content="{{ seo_image | absolute_url }}">
{% endif %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ seo_title | escape }}">
<meta name="twitter:description" content="{{ seo_description | escape }}">

{% if seo_image %}
<meta name="twitter:image" content="{{ seo_image | absolute_url }}">
{% endif %}

<meta name="keywords" content="digimon, digi-battle, digibattle, digi battle, digimon tcg, card list, complete, all digimon cards, card scans, rare digimon cards" />