@use "variables" as *;

.btn {
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    padding: 6px 12px;
    transition: all .2s linear;
    font-size: 1rem;
}

.btn:hover {
    background-color: transparent;
}

.btn-primary {
    border-color: $dark-blue;
    background-color: $dark-blue;
    color: $white;
}

.btn-primary:hover {
    border-color: $blue;
    background-color: transparent;
    color: $blue;
}

.btn-secondary {
    border-color: $blue;
    background-color: transparent;
    color: $blue;
}

.btn-secondary:hover {
    border-color: $dark-blue;
    background-color: $dark-blue;
    color: $white;
}

.btn-ebay__wrapper {
    display: flex;
    padding: 3px;
    width: 100%;
    max-width: 350px;
    position: relative;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.btn-ebay__wrapper:hover {
    border-radius: 1.5rem;

    .btn-ebay__inner {
        border-radius: 1.5rem;
    }
}

.btn-ebay__wrapper::before {
    content: "";
    position: absolute;
    inset: 0%;
    background: $ebay-gradient-conic;
    z-index: -1;
    width: 100%;
    height: 350px;
    top: -155px;
    left: 0;
}

.btn-ebay__wrapper:hover::before {
    background: $ebay-gradient-conic;
    animation: rotate-gradient 4s linear infinite;   
}

@keyframes rotate-gradient {
    to {
        transform: rotate(360deg);
    }
}

.btn-ebay__inner {
    flex-grow: 1;
    background-color: $background-primary;
    color: $white;
    text-align: center;
    padding: $spacing-sm;
    font-size: 1rem;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.btn-cta {
    color: $white;
    background-color: $color-champion;
    border-color: $color-champion;
}

.btn-cta:hover {
    color: $color-champion;
    background-color: transparent;
}
